<header class="site-header">

  <div class="wrapper fringe-wrapper">

    <a class="site-title title-font" href="{{ site.baseurl }}/"><img src="/assets/lion.png" class="site-title site-logo">{{ site.title }}</a>

    <nav class="site-nav">
      <a class=" site-title title-font site-about" href="https://cdn.rawgit.com/leosaysger/site/one/index.html">About</a>
    </nav>
    <!--
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->

  </div>

</header>
